@import "http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic,400italic";
@import url(http://fonts.googleapis.com/css?family=Merienda+One);

???
/* font */
body {
	font-family:'Lato',sans-serif;
	font-weight:400;
}
html, body {
	height: 100%;
}
.outer-wrapper {
	min-height: 100%;
	margin: 0 auto -110px; /* the bottom margin is the negative value of the footer's height */
}
/* body */
body {
	background: url('../img/exclusive_paper.jpg') repeat;
	-webkit-font-smoothing:antialiased;
}

/* headers */
h1,h2,h3,h4,h5 {
	font-weight:400;
	text-transform:uppercase;
	margin:0;
}

h1 small {
	text-transform:none;
	color:#444;
}

h1 {
	font-size:36px;
	line-height:48px;
	margin-bottom:24px;
}

h1 small {
	font-size:24px;
}

h2 {
	font-size:24px;
	line-height:48px;
	margin-bottom:12px;
}

h3 {
	font-size:18px;
	line-height:24px;
	margin-bottom:12px;
}

h4,h5,h6 {
	line-height:24px;
}

h4 {
	font-size:14px;
}

h5 {
	font-size:12px;
}

h6 {
	font-size:11px;
	color:#999;
	text-transform:uppercase;
	margin:0;
}

/* links */
a {
	color:#32c5a1;
}

a:hover {
	color:#3eb4d1;
}
a, a:hover, a:focus, a:visited { text-decoration: none; }
.more-link {
	display:block;
	margin:12px 0;
}
a, a:hover, input, img, .animated {
    -webkit-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    /* easeInOutSine */
    -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    /* easeInOutSine */
}

/* selection colors */
::selection {
	background:#42576a;
	color:#fff;
}

::-moz-selection {
	background:#42576a;
	color:#fff;
}

/* form elements */
.top-search {
	position: relative;
	float: right;
  height: 30px;

  padding: 40px 0 0; 
}

.top-search label.element-invisible {
	display: none;
}
.top-search input[type="text"], .top-search input[type="search"]{
	border-radius: 3px;
  border: 1px dotted #3EB4D1;
  height: 30px;
  font-size: 14px;
  opacity: 0;
  visibility: hidden; 
  width: 0;
  padding: 0;
  float: right;
      -webkit-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    /* easeInOutSine */
    -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);

  
}
.top-search input[type="text"]:focus, .top-search input[type="search"]:focus{
	-webkit-box-shadow: none;
	-moz-box-shadow:  none;
	box-shadow:  none;
  }
  
.top-search .search { 
height: 30px; 
width: 30px; 
position: relative;
float: left;
    -webkit-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    /* easeInOutSine */
    -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.top-search .search:after {
width: 30px;
height: 100%;
content:'';
position: absolute;
top: 1px;
right: 0;
background: url('../img/search.png') no-repeat center center;
cursor: pointer;
}
.top-search .search:hover:after, .top-search .search:focus:after{
opacity: 0.4; 
}
.top-search .search:hover, .top-search .search:focus {
width: 200px; 

}

.top-search .search:hover input, .top-search .search:focus input{
opacity: 1;
visibility: visible;
width: 90%;
padding: 0 5%;
}

select,textarea {
	color:#444;
	-webkit-box-shadow:0 0 1px #fff inset;
	-moz-box-shadow:0 0 1px #fff inset;
	box-shadow:0 0 1px #fff inset;
	-webkit-appearance:none;
	text-shadow:0 1px 0 #fff;
}

select:focus,textarea:focus {
	border-color:#fff;
	-webkit-box-shadow:0 0 8px rgba(66,87,106,0.6);
	-moz-box-shadow:0 0 8px rgba(66,87,106,0.6);
	box-shadow:0 0 8px rgba(66,87,106,0.6);
}

/* figures */
figure {
	margin:0 0 12px;
}

/* pre and code */
pre,code,var,kbd,samp,tt,dir,listing,plaintext,xmp,abbr,acronym,blockquote,q {
	font-size:14px;
	word-break:normal;
	-webkit-hyphens:none;
	-moz-hyphens:none;
	hyphens:none;
}

pre {
	background-color:#fafafb;
	border-color:#d8d8d8 #d8d8d8 #e5e5e5;
	-webkit-box-shadow:0 0 10px rgba(119,119,119,0.2) inset;
	-moz-box-shadow:0 0 10px rgba(119,119,119,0.2) inset;
	box-shadow:0 0 10px rgba(119,119,119,0.2) inset;
	color:#42576a;
	text-shadow:none;
}

/* font weight */
.light {
	font-weight:300;
}

/* text aligns */
.text-center {
	text-align:center!important;
}

/* wrappers and containers */
.wrapper {
	margin:40px auto;
	max-width:1180px;
	margin-bottom: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
  padding: 0 40px;
}

.header-wrapper {
	max-width:1180px;
	margin: 0 auto;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
  padding: 0 40px;
  min-height: 110px;
}

.wrapper-transparent {
	background:none;
	margin-top:0;
	border:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.container-fluid {
	padding:0 40px;
}

header#masthead {
  height: 510px;
  background: #0f5a6e;
}
header#masthead #cover {
  height: 400px;
  background: url('../img/green-cover.png') no-repeat center center; 
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-top: 5px solid rgba(35, 128, 153, 0.9); 
  border-bottom: 5px solid rgba(35, 128, 153, 0.9);    
}

/* sections */
.section { 
	position:relative;
	-webkit-background-size:cover!important;
	-moz-background-size:cover!important;
	-o-background-size:cover!important;
	background-size:cover!important;
}

section.section.section-padded.bottom {
	background:#fff;
}
section.section.section-padded.bottom .container-fluid {
  background: #fff;
  margin: 0 40px 0 40px;
}

section {
background: #FFF;
margin: 20px 0;
}

.section-grey {
	background-color:#fff;
}

.section-grey:before,.section-grey:after {
	content:"";
	position:absolute;
	width:100%;
	height:20px;
	left:0;
	background-repeat:no-repeat;
	background-size:100% 20px;
	z-index:100;
}


.section-padded {
	padding:40px 0;
}

.search form {
    margin-bottom: 0;
    text-align: center;
}
.search form label {
    display: none;
}

.item-page {
	background: #FFF;
	padding: 10px 20px;
  overflow:hidden;
}

.page-header {
	margin: 0;
	border-bottom: 0;
  padding:0;
}


.items-row .span12,
.items-row .span6,
.items-row .span4,
.items-row .span3 {
    background: #FFF;
	padding: 20px;
	margin-bottom: 20px;
}

.contact {
	background: #FFF;
	padding: 10px 20px;
  overflow: hidden; 
}


.pagination {
margin:0;
clear:both;
}

.pagination .counter {
display: none;
}
.pagination ul { 
display: block; 
position: relative;
text-align: center;
}
.pagination ul li { 
display: inline-block;
margin: 0 10px 20px 0;;
}
.pagination ul li.disabled {
display: none;
}
.pagination ul li.active a, .pagination ul li.active a:hover{
background: #fff; 
color: #9c9c9c;
}
.pagination ul li a{
 background: #f9dcc8;
 width: 40px;
 height: 40px;
 padding:0;
 border: none;
 display: block;
 text-align: center;
 font-size: 16px;
 font-weight: 400;
 line-height: 40px;
 border-radius: 40px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
}
.pagination ul li a:hover {
 background: #3EB4D1;
 
 }

footer#footer .wrapper {
  color: #fff;
	padding: 20px 0 10px 0;
}

.contact h3 {
  display: none;
}
form#contact-form input[type="text"],
form#contact-form input[type="password"],
form#contact-form input[type="email"],
form#contact-form textarea {
  width: 90%
}
form#contact-form input[type='checkbox'] {
width: auto;
}
button.btn, input[type="submit"].btn {
background: #3eb4d1;
outline: none;
outline: none; 
border-radius: 3px;
padding: 15px 30px; 
margin: 0;
font-size: 14px; 
color: #fff;
border:none;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);

}
button.btn:hover, input[type="submit"].btn:hover{
background: #0f5a6e;

 box-shadow: 0 0 8px 0 rgba(0,0,0,0.2)
 }
 
form#contact-form .form-actions {
	padding: 0 0 0 180px;
	margin-top: 0;
	margin-bottom: 0;
	background-color: rgba(0, 0, 0, 0);
	border-top: 0;
}
.icons .btn-group.pull-right {
  margin-top: -70px;
}

/* brand */
#masthead .brand {
	text-align: center; 
	margin-top:0;
	margin-bottom:0;
}
#masthead .brand .brand-logo {
 width: 140px;
 height: 140px;
 border-radius: 140px;
 overflow: hidden;
 font-size: 12px; 
 line-height: 0px;
 display: block;
 margin: 0 auto;
 position: relative;
 top: -80px;
 background: #3EB4D1;
 border: 10px solid #fff;
 box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
}
#masthead .brand .brand-logo .site-title{
padding: 50% 0 0 0;
display: block;
}
#masthead .brand .brand-logo img { width: auto; max-width: 100%;}

#masthead .brand .brand-description{
color: #fff; 
font-size: 72px; 
line-height: 72px;
font-family: 'Merienda One', cursive;
font-weight: 400;
text-transform: none;
text-shadow: 3px 3px 0px #0f5a6e;
display: inline-block;
position: relative; 

}
#masthead .brand .brand-description:hover {

color: #C1EEFA;
}
#masthead .brand .brand-description a { text-decoration: none;}
#masthead .brand a {
	font-style:normal;
}

/* added to make nav dropdown onhover, rather than onclick */
.dropdown:hover .dropdown-menu {
	display:block;
}

.navbar .dropdown-menu {
	margin-top:0;
}

/* navigation */
ul.nav.menu {
	float:left;
  text-transform: none;
}
#masthead ul.nav.menu {
padding: 40px 0 ;
}
#masthead ul.nav.menu li {
padding: 0 20px;
border-left: 1px solid #37738a;
}
#masthead ul.nav.menu li:first-child{ 
padding:0 20px 0 0;
border: none;
}
#masthead ul.nav.menu li a {
text-transform: none;
color: #32c5a1;
padding: 5px 0;
line-height: 20px;
margin: 0;
border-radius: 0px;
}
#masthead ul.nav.menu li a:hover {
color:#fff;
}
#masthead ul.nav.menu li.current a, #masthead ul.nav.menu li.active a{
color:#fff;

}
#masthead .navbar-inner {
	padding-left:0;
	padding-right:0;
	background:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.navbar .btn-navbar {
	border-radius:3px;
}

.mm-list > li {
	margin-bottom:0!important;
}

/* menu bar */
#masthead .nav > li > a {
	text-transform:uppercase;
	text-shadow:none;
	font-style:normal;
}

#masthead .nav > li > a:focus {
	outline:none;
}

#masthead .nav > .active > a,#masthead .nav > .active > a:hover,#masthead .nav > .active > a:focus {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	background-color:transparent;
}
.navbar .btn-navbar { 
float:left;
background: #32c5a1;
padding: 10px 10px;
margin: 20px 0 0 0;
}
.navbar .btn-navbar .icon-bar {
background: #fff;
}
.navbar .btn-navbar:hover

.navbar .btn-navbar:hover, .navbar .btn-navbar:focus, .navbar .btn-navbar:active, .navbar .btn-navbar.active{
background: #dca685;
}

 #masthead .dropdown-menu {
	background-color:rgba(68,68,68,0.95);
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	text-shadow:none;
	font-size:14px;
}

.mm-menu.mm-light { 
background: #26829c;
color: #fff;
}

#masthead .dropdown-menu a {
	font-style:normal;
}
#menu > li > a:hover, #menu > li > a:focus {
text-decoration: none;
background-color: #32c5a1;
}
/* component */
.row-fluid.component {
	padding:20px 0;
}

/* sidebars */
#sidebar,#aside {
	padding:0;
}

#sidebar ul,
#aside ul {
	list-style-type: square;
}

#sidebar .moduletable,
#aside .moduletable {
	background-color: #fff;
	padding: 10px;
	margin-bottom: 20px;
}


/* round boxes */
section.boxes {
	text-align:center;
	background:#fff;
	margin-top: 0;
}

.boxes p em.fa {
	font-size:52px;
	line-height:1em;
	text-shadow:1px 1px 1px #000;
	display:block;
	width:1em;
	height:1em;
	margin-left:auto;
	margin-right:auto;
	border-radius:100%;
	padding:20px;
}

#footer p em.fa {
	font-size:30px;
	line-height:1em;
	text-shadow:1px 1px 1px #000;
	display:block;
	float: right;
	padding-right: 20px;
}
#footer p em.fa:hover {
	color:#43516c;
}

/* bootstrap override to remove first column span margin-left */
.custom.first.span3,.custom.first.span4,.custom.first.span6 {
	margin-left:0!important;
}

/* section headers */
.section-header {
	text-align:center;
	position:relative;
	border-bottom:0;
	margin-top:20px;
	margin-bottom:20px;
	padding-bottom:0;
}

.section-header h1 {
	text-align:center;
	display:inline-block;
	border-bottom:0;
	padding:0 24px;
	position:relative;
	z-index:1;
	margin-bottom:0;
}

.section-header h1 small {
	font-size:inherit;
	text-transform:uppercase;
}

.section-header:before,.section-header:after {
	content:"";
	position:absolute;
	width:30%;
	height:1px;
	background-color:#f2f2f4;
	-webkit-box-shadow:0 1px 0 #fff;
	-moz-box-shadow:0 1px 0 #fff;
	box-shadow:0 1px 0 #fff;
	top:50%;
	z-index:0;
}

.section-header:before {
	left:0;
}

.section-header:after {
	right:0;
}

section.section.section-grey .random-image {
	text-align:center;
}

/* icons */
ul.icons {
	list-style:none;
}

ul.icons li {
	margin-bottom:24px;
}

ul.icons p {
	text-indent:0;
}

.mm-menu.mm-light .dropdown-menu {
	border: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.navbar-inner {
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1), inset 0 30px 10px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1), inset 0 30px 10px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1), inset 0 30px 10px rgba(0, 0, 0, .2);
}

.pull-left.item-image {
	margin-bottom: 20px;
}

p {
	font-size: 16px;
	line-height: 24px;
  margin: 0 0 16px 0;
}

footer#footer .left {
    float: left;
    width: 50%;
}
footer#footer .right custom {
    float: right;
    width: 50%;
}

.blog {
}
.blog div[class^="leading-"], .blog div[class*="leading-"] {
    border-radius: 3px; 
    margin: 0 0 50px 0;
    background: #F7FFFC;
    padding: 10px 30px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
    overflow:hidden;
}


.item-page div[itemprop^="articleBody"]{
margin-top: 20px;

}

.blog div[class^="leading-"] h2[itemprop^="name"], .blog div[class*="leading-"] h2[itemprop*="name"], .page-header h2 {
font-family: 'Merienda One', cursive;
font-weight: 400;
color: #23809a;
text-transform: none;
font-size: 44px; 
line-height: 50px;
text-align: center;
padding: 20px 0 0;
}


.items-leading {
    margin-bottom: 0;
}

p.readmore {
    text-align: center;
    padding: 10px 0;
}
p.readmore .btn {
background: #3eb4d1;
outline: none;
outline: none; 
border-radius: 3px;
padding: 15px 30px; 
margin: 0;
font-size: 14px; 
color: #fff;
border:none;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
}
p.readmore .btn:hover{
background: #0f5a6e;

 box-shadow: 0 0 8px 0 rgba(0,0,0,0.2)
}

 
dt.article-info-term {
    display: none;
}

.item-image { 
border-radius: 3px; 
overflow: hidden;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.3);
}

.muted {
color: #3EB4D1 !important;
text-align: center;
font-size: 14px;
margin: 0 0 30px;
background: #E0F0F4;
width: 120%;
left: -10%;
position: relative;
padding: 5px 0;
font-weight: 400;
}

.article-info.muted dd {
display: inline-block;
margin: 0 5px;
position: relative;
}
 

.page-header {
padding-bottom: 0;
background: #E2F9FF;
width: 120%;
left: -10%;
position: relative;
top: -10px;
padding: 15px 0 20px;
margin: 0 0 -10px;
}

.page-header  h2 {
padding:0;
margin: 0;
}
.page-header  h2 a{
color: #23809a;
}
.page-header  h2 a:hover{
color: #3eb4d2;
}
img {
    width: 100%;
}

#footer {
	background: #0f5a6e;
  border-top: 10px solid #3eb4d1;
  height: 100px;
}
.push {
height: 130px;
}

#footer p {
color: #fff;
}
#footer p a {
color: #32c5a1;
}

.mod-siteground-social li {
  	padding-left: 0 !important;
  	padding-right: 0 !important;
}


footer#footer .mod-siteground-social {
  	float: right;
}

.top-search .mod-siteground-social {
  	padding-top: 0;
    float:right;
    margin: -5px 0 0 20px ;

}

div#sidebar .mod-siteground-social,
div#aside .mod-siteground-social {
	text-align: center;
}

div#sidebar .mod-siteground-social a {
	width: 25px;
	padding: 3px
}
div#sidebar .mod-siteground-social .fa-stack-2x {
	font-size: 27px;
	padding: 4px 0 0 0;
}

div#sidebar .mod-siteground-social .fa-square:before {
	font-size: 35px;
}

div#aside .mod-siteground-social a {
	width: 25px;
	padding: 3px
}
div#aside .mod-siteground-social .fa-stack-2x {
	font-size: 27px;
	padding: 4px 0 0 0;
}

div#aside .mod-siteground-social .fa-square:before {
	font-size: 35px;

}

.mod-siteground-social .fa-square:before{ 
   content:'';
}
.mod-siteground-social .fa-square{ 
width: 40px; 
height: 40px; 
border-radius: 3px !important;
overflow: hidden;
opacity: 0.2;
background: #32c5a1;

}
.mod-siteground-social .fa-inverse:hover {
color: #32c5a1;
}


/* Contacts*/

.contact-form legend, #contact-form legend {
font-family: 'Merienda One', cursive;
font-weight: 400;
color: #23809a;
text-transform: none;
font-size: 44px;
line-height: 50px;
text-align: center;
padding: 0;
border: none;
}

#content .search {
    border-radius: 3px; 
    margin: 0 0 50px 0;
    background: #fff;
    padding: 10px 30px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
}
#content .search .page-title {
font-family: 'Merienda One', cursive;
font-weight: 400;
color: #23809a;
text-transform: none;
font-size: 44px;
line-height: 50px;
text-align: center;
padding: 20px 0 0;
}

#content .search .btn-toolbar {
max-width: 720px;

margin: 0 auto; position: relative;
}
#content .search .btn-toolbar *{
	-webkit-box-shadow: none;
	-moz-box-shadow:  none;
	box-shadow:  none;
}
#content .search .btn-toolbar input[type="text"]{
 	border-radius: 3px;
  border: 1px dotted #3EB4D1;
  height: 30px;
  font-size: 14px;
  padding: 0 3%;
  width: 94%;
}

#content .search .btn-toolbar button { 
width: 100%; 
  height: 32px;
  	border-radius: 3px;
  font-size: 14px;
  background-image: url('../img/search.png');
  background-repeat: no-repeat;
  background-position: center center;
}
.search .phrases, .search .only, .search .form-limit { display: none;}

#content .search .btn-toolbar .btn-group {
width: 20%; margin: 0;
}

.search .searchintro { border-bottom: 1px dotted #23809a;}

#content .search .btn-toolbar .btn-group:first-child{
width: 75%;
padding: 0 5% 0 0;
} 

.top-search input[type="text"]{
	border-radius: 3px;
  border: 1px dotted #3eb4d1;
  height: 30px;
  font-size: 14px;
  opacity: 0;
  visibility: hidden; 
  width: 0;
  padding: 0;
  float: right;
      -webkit-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    /* easeInOutSine */
    -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);

  
}
.top-search input[type="text"]:focus{
	-webkit-box-shadow: none;
	-moz-box-shadow:  none;
	box-shadow:  none;
  }
.mod-siteground-social .hidden{
display:none;
}
@media (max-width: 690px) {
  .top-search .mod-siteground-social {
  	text-align: center;  
	}
	p.counter.pull-right {
		margin-top: 0;
	}
	#sidebar, #aside {
		margin-top: 20px;
	}
	.wrapper {
		margin: 0 !important;
	}
	footer#footer .mod-siteground-social {
		text-align: center;
		float: none;
	}
	footer#footer .left {
		text-align: center;
	}
  	#masthead .brand {
	   font-size: 20px;
	   padding-bottom: 0;
	}


	footer#footer .left,
	footer#footer .right {
		float: none;
		width: 100%;
	}
  #masthead .brand .brand-logo {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border-width: 5px;
    top: -55px;
  }
  #masthead .brand .brand-description {
    font-size: 48px;
    line-height: 52px;
  }
  header#masthead{
    height: 410px;
  }
  header#masthead #cover{
    height: 300px;
  }
}




/* media queries */
@media (max-width: 1055px) {
}
@media (max-width: 979px) {
	.wrapper {
		width:100%;
		border:0;
    padding: 0 20px;
	}
	
	main#content {
		padding:0;
	}
  .top-search {
    padding: 20px 0 0 0;
  }
	ul.icons {
		margin-left:0;
	}
	
	#masthead .nav > .active > a,.navbar .nav > .active > a:hover,.navbar .nav > .active > a:focus {
		-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.125) inset;
		-moz-box-shadow:0 2px 5px rgba(0,0,0,0.125) inset;
		box-shadow:0 2px 5px rgba(0,0,0,0.125) inset;
		background-color:#f2f2f4;
	}
	
	#masthead .nav-collapse .nav > li > a,#masthead .nav-collapse .dropdown-menu a {
		padding:9px 15px!important;
	}
}

@media (max-width: 767px) {
	h1 {
		font-size:24px;
		line-height:36px;
	}
	
	h1 small {
		font-size:16px;
	}
	
	h2 {
		font-size:21px;
		line-height:36px;
	}
	
	h3 {
		font-size:18px;
		line-height:36px;
	}
	
	body {
		padding:0;
	}
	
	.container-fluid {
		padding:0 20px;
	}
	
	#masthead .navbar-static-top {
		margin:0;
	}
	
	#masthead .nav > li > a {
		font-size:16px;
	}
	
	#masthead .nav .dropdown-menu {
		-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.125) inset;
		-moz-box-shadow:0 2px 5px rgba(0,0,0,0.125) inset;
		box-shadow:0 2px 5px rgba(0,0,0,0.125) inset;
		background-color:#f2f2f4;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		-ms-border-radius:0;
		-o-border-radius:0;
		border-radius:0;
	}
	
	.unstyled li {
		margin-bottom:48px;
	}
}

@media (max-width: 480px) {
	form#contact-form .form-actions {
		padding: 0;
	}
    header#masthead{
    height: 310px;
  }
  header#masthead #cover{
    height: 200px;
  }
  #masthead .brand .brand-description, .blog div[class^="leading-"] h2[itemprop^="name"], .blog div[class*="leading-"] h2[itemprop*="name"], .page-header h2 {
font-size: 28px;
line-height: 32px;

}

@media (max-width: 320px) {
	body {
		font-size:14px;
	}
	
	h1 {
		font-size:21px;
		line-height:24px;
	}
	
	h1 small {
		font-size:14px;
	}
	
	h2 {
		font-size:18px;
		line-height:24px;
	}
	
	h3 {
		font-size:16px;
		line-height:24px;
	}
	h1.brand {
		padding-left: 0 !important;
	}
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),only screen and (-moz-min-device-pixel-ratio: 1.5),only screen and (-o-min-device-pixel-ratio: 3 2),only screen and (min-device-pixel-ratio: 1.5) {
	body {
		background-size:588px 375px;
	}
}

/* animation */
@-webkit-keyframes reset {
	0% {
		opacity:0;
	}
	
	100% {
		opacity:0;
	}
}

@-moz-keyframes reset {
	0% {
		opacity:0;
	}
	
	100% {
		opacity:0;
	}
}

@-o-keyframes reset {
	0% {
		opacity:0;
	}
	
	100% {
		opacity:0;
	}
}

@-ms-keyframes reset {
	0% {
		opacity:0;
	}
	
	100% {
		opacity:0;
	}
}

@keyframes reset {
	0% {
		opacity:0;
	}
	
	100% {
		opacity:0;
	}
}

/* fade In */
@-webkit-keyframes fadeIn {
	0% {
		opacity:0;
	}
	
	100% {
		opacity:1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity:0;
	}
	
	100% {
		opacity:1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity:0;
	}
	
	100% {
		opacity:1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity:0;
	}
	
	100% {
		opacity:1;
	}
}

@keyframes fadeIn {
	0% {
		opacity:0;
	}
	
	100% {
		opacity:1;
	}
}

/* fade In Up */
@-webkit-keyframes fadeInUp {
	0% {
		opacity:0;
		-webkit-transform:translateY(20px);
	}
	
	100% {
		opacity:1;
		-webkit-transform:translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity:0;
		-moz-transform:translateY(20px);
	}
	
	100% {
		opacity:1;
		-moz-transform:translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity:0;
		-o-transform:translateY(20px);
	}
	
	100% {
		opacity:1;
		-o-transform:translateY(0);
	}
}

@-ms-keyframes fadeInUp {
	0% {
		opacity:0;
		-ms-transform:translateY(20px);
	}
	
	100% {
		opacity:1;
		-ms-transform:translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity:0;
		transform:translateY(20px);
	}
	
	100% {
		opacity:1;
		transform:translateY(0);
	}
}

/* flash */
@-webkit-keyframes flash {
	0%,50%,100% {
		opacity:1;
	}
	
	25%,75% {
		opacity:0;
	}
}

@-moz-keyframes flash {
	0%,50%,100% {
		opacity:1;
	}
	
	25%,75% {
		opacity:0;
	}
}

@-o-keyframes flash {
	0%,50%,100% {
		opacity:1;
	}
	
	25%,75% {
		opacity:0;
	}
}

@keyframes flash {
	0%,50%,100% {
		opacity:1;
	}
	
	25%,75% {
		opacity:0;
	}
}